.sf-badge {
  --badge-padding: 0.625rem;
  --badge-width: 3.75rem;
  --badge-height: 2.313rem;
  --badge-background: var(--c-white);
  --badge-color: var(--_c-dark-primary);
  --badge-border: 1px solid var(--_c-dark-primary);
  --badge-font: var(--font-family--primary);
  --badge-font-line-height: 1.188rem;
  @include font(
    --badge-font,
    var(--font-weight--normal),
    var(--font-size--base),
    --badge-font-line-height,
    var(--font-family--secondary)
  );

  &--number {
    --badge-min-width: 0.625rem;
    --badge-min-height: 0.625rem;
    --badge-padding: 0;
    --badge-border-radius: 100%;
    --badge-background: var(--c-white);
    --badge-border: 0.031rem solid var(--_c-dark-primary);

    width: 0.625rem;
    height: 0.625rem;
    font-size: var(--spacer-xs);
  }

  &.disabled {
    border: 1px solid var(--_c-gray-middle);
    color: var(--_c-gray-middle);
    pointer-events: none;
  }

  @include for-desktop {
    &:active,
    &--active {
      background-color: var(--_c-dark-primary);
      color: var(--c-white);
    }
  }
}
