.sf-button {
  --button-height: 2.625rem;
  --button-border-radius: 0.188rem;
  --button-text-transform: "capitalize";
  @include font(
    --button-font,
    var(--font-weight--normal),
    var(--font-size--base),
    1.2,
    var(--font-family--secondary)
  );

  &--small {
    --button-height: 1.625rem;
  }

  &--text {
    height: 1.15rem;
    }

  &--secondary {
    background-color: var(--_c-white-primary);
    border: 1px solid var(--_c-gray-middle);
    color: var(--_c-dark-primary);
  }
}
