.sf-button {
  --button-height: 2.625rem;
  --button-border-radius: 0.188rem;
  --button-text-transform: "capitalize";
  --button-font: var(--font-family--primary);
  @include font(
    --button-font,
    var(--font-weight--normal),
    var(--font-size--lg),
    1.2,
    var(--font-family--secondary)
  );

  &--small {
    --button-height: 1.625rem;
  }

  &--text {
    height: 1.15rem;
    }

  &--text-lg {
    font-size: var(--font-size--lg);
  }
}

.color-secondary {
  background-color: var(--_c-dark-primary);
  border: 1px solid var(--_c-dark-primary);
  color: var(--c-white);
}

.color-light {
  background-color: var(--_c-white-primary);
  border: 1px solid var(--_c-gray-middle);
  color: var(--_c-dark-primary);
}
