.sf-input {
  --input-height: 3.438rem;

  &__wrapper,
  input {
    border-radius: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  border: none;

  &__bar {
    display: none;
  }

  &__password-button {
    --input-icon-top: 30%;
    --input-password-icon-background: var(--_c-gray-middle);
  }

  &__label {
    position: relative;

    --input-label-color: var(--_c-gray-primary);
    --input-label-top: -110%;
    --input-label-font-size: var(--font-size--xs);

    @include font(
      --input-label-font,
      var(--font-weight--normal),
      var(--font-size--lg),
      1,
      var(--font-family--primary)
    );
  }

  &__wrapper {
    border: none;
  }

  input[type="date"] ~ *,
  input[type="time"] ~ *,
  input[type="image"] ~ *,
  input[type="file"] ~ * {
    --input-label-top: -100%;
  }

  input {
    --input-color: var(--_c-dark-primary);
    @include border(--input-border, 1px, solid, var(--_c-gray-middle));

    border-radius: var(--spacer-2xs);
    height: 2.125rem;
    text-indent: var(--input-text-indent, 1px);

    &::-webkit-input-placeholder {
      font-size: var(--font-size--sm);
      line-height: 1;
    }
    padding: 0;
    @include font(
      --input-font,
      var(--font-weight--normal),
      var(--font-size--sm),
      1,
      var(--font-family--primary)
    );

    &:focus,
    &:placeholder-shown,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      @include border(--input-border, 1px, solid, var(--_c-green-primary));

      & ~ * {
        --input-label-color: var(--_c-gray-primary);
        --input-label-top: -110%;
      }
    }
  }
}
