.sf-input {
  &__wrapper,

  input {
    order: 1;
    border-radius: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  border: none;

  &__bar {
    display: none;
  }

  &__password-button {
    --input-icon-top: 60%;
    --input-password-icon-background: var(--_c-gray-middle);
  }

  &__label {
    order: 0;
    position: relative;
    margin: 0;

    --input-label-color: var(--_c-gray-primary);
    --input-label-font-size: var(--font-size--xs);

    @include font(
      --input-label-font,

      var(--font-weight--normal),
      var(--font-size--lg),
      1,
      var(--font-family--primary)
    );
  }

  &__wrapper {
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  &__error-message {
    min-height: calc(var(--font-size--xs) * 1.7);
  }

  input[type="date"] ~ *,
  input[type="time"] ~ *,
  input[type="image"] ~ *,
  input[type="file"] ~ * {
    --input-label-top: -100%;
  }

  input {
    --input-color: var(--_c-dark-primary);
    @include border(--input-border, 1px, solid, var(--_c-gray-middle));
    
    border-radius: var(--spacer-2xs);
    height: calc(var(--spacer-base) * 1.4);
    text-indent: var(--input-text-indent, calc(var(--spacer-base) * 0.417));

    &::-webkit-input-placeholder {
      font-size: var(--font-size--sm);
      line-height: 1;
    }

    padding: 0;

    @include font(
      --input-font,
      var(--font-weight--normal),
      var(--font-size--sm),
      1,
      var(--font-family--primary)
    );

    &:focus,
    &:placeholder-shown,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      @include border(--input-border, 1px, solid, var(--_c-green-primary));

      & ~ * {
        --input-label-color: var(--_c-gray-primary);
        --input-label-top: 50%;
      }
    }
  }
}