.sf-input {
  --input-height: 3.438rem;

  border: none;

  &__label {
    position: relative;

    --input-label-color: var(--_c-gray-primary);
    --input-label-top: -100%;
    --input-label-font-size: var(--font-size--xs);
  }
  &__wrapper {
    border: none;
    input {
      width: 100%;
    }
  }

  input[type="date"] ~ *,
  input[type="time"] ~ *,
  input[type="image"] ~ *,
  input[type="file"] ~ * {
    --input-label-top: -100%;
  }
  input {
    --input-color: var(--_c-dark-primary);
    @include border(--input-border, 1px, solid, var(--_c-gray-primary));

    border-radius: var(--spacer-2xs);
    height: 2.125rem;

    &:focus,
    &:placeholder-shown,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      @include border(--input-border, 1px, solid, var(--_c-green-primary));

      & ~ * {
        --input-label-color: var(--_c-gray-primary);
        --input-label-top: -100%;
      }
    }
  }
}
