.sf-quantity-selector {
  --quantity-selector-height: 2.313rem;
  --quantity-selector-width: 9.75rem;
  --quantity-selector-background: var(--c-white);
  &__button {
    --button-height: 1.375rem;
    --button-width: 1.375rem;
    --button-background: var(--c-white);
    --button-color: var(--_c-dark-primary);

    border: 0.031rem solid var(--_c-dark-primary);
    border-radius: 100%;
  }
  &__input {
    --input-padding: 0;
    --input-margin: 10px;
    --input-border: 1px solid var(--_c-dark-primary);
    --input-text-align: center;
  }
  input {
    border-radius: 0;
    height: 2.313rem;
    width: 2.688rem;
  }
}
