.sf-checkbox {
  &__checkmark {
    @include border(--checkbox-border, 1px, solid, var(--_c-gray-middle));

    --checkbox-border-radius: 2px !important;
    --checkbox-size: 14px !important;
  }

  &.is-active {        
    --checkbox-background: var(--_c-green-primary);
  }

  input {
    &:focus + .sf-checkbox__checkmark {
      outline: none;
    }
  }
}