.sf-modal {
  &__bar {
    background-color: var(--c-white);
    border-bottom: 1px solid var(--_c-white-secondary);
  }

  &__close {
    .sf-icon svg,
    .sf-icon img {
      width: var(--font-size--base);
      height: var(--font-size--base);

      --icon-color: var(--_c-white-secondary);

      stroke: var(--_c-white-secondary);
      stroke-width: calc(var(--spacer-2xs) * 0.75);
    }
  }

  .sf-bar {
    &__title {
      font-size: calc(var(--spacer-2xs) + var(--spacer-sm));
      line-height: var(--spacer-base);

      @include for-desktop {
        min-width: 25rem;
      }

      font-weight: var(--font-weight--bold);
      font-family: var(--font-family--primary);
    }
  }

  .sf-icon svg path {
    stroke: var(--_c-white-secondary);

    --icon-color: var(--_c-gray-middle);
  }
}
