.sf-modal {
  &__bar {
    background-color: var(--c-white);
    border-bottom: 1px solid var(--_c-white-secondary);
  }

  .sf-bar {
    &__title {
      font-size: calc(var(--spacer-2xs) + var(--spacer-sm));
      line-height: var(--spacer-base);
      min-width: 25rem;
      font-weight: var(--font-weight--bold);
    }
  }

  .sf-icon svg,
  .sf-icon img {
    width: var(--font-size--base);
    height: var(--font-size--base);
  }

  .sf-icon svg path {
    stroke-width: 0.188rem;
  }
}
