.sf-pagination {
  display: flex;
  align-items: center;

  &__item {
    --link-text-decoration: none;
    --pagination-item-width: var(--spacer-base);
    --pagination-item-height: calc(var(--spacer-sm) * 1.375);

    color: var(--pagination-item-color, var(--c-gray-variant));
    width: var(--pagination-item-width);
    height: var(--pagination-item-height);
    margin: var(--pagination-item-margin, 0 var(--spacer-2xs));
    border-radius: var(--spacer-2xs);
    text-align: center;

    @include font(
      --pagination-font,
      var(--font-weight--bold),
      var(--font-size--base),
      1.4,
      var(--font-family--secondary)
    );

    &.prev,
    &--next {
      --pagination-item-width: calc(var(--spacer-sm) * 1.125);
      --pagination-item-height: calc(var(--spacer-sm) * 1.125);
    }

    &.prev {
      --pagination-item-margin: 0 var(--spacer-base) 0 0;
    }

    &.next {
      --pagination-item-margin: 0 0 0 var(--spacer-base);
    }

    &.current {
      --pagination-item-color: var(--_c-white-primary);

      background: var(--_c-green-primary);
      cursor: default;

      &:hover {
        --pagination-item-color: var(--_c-white-primary);
      }
    }

    &:hover {
      --pagination-item-color: var(--c-primary);
    }
  }

  @include for-desktop {
    --pagination-item-margin: 0 var(--spacer-xs);
  }
}
