.sf-radio {
  display: flex;
  transition: none;
  border: none;

  &__label {
    font-weight: var(--font-weight--semibold);
    font-size: var(--font-size--base);
    font-family: var(--font-family--primary);
    line-height: 0.875rem;
    color: var(--_c-dark-primary);
  }

  &__checkmark {
    box-sizing: border-box;
    width: 0.875rem;
    height: 0.875rem;
    border: 1px solid var(--_c-gray-middle);
    border-radius: 100%;
    transition: none;

    &.is-active {
      border: 3px solid var(--_c-green-primary);
    }
    @include for-desktop {
      &:active,
      &--active {
        background-color: var(--_c-white);
        color: var(--c-white);
        border-width: 3px;
      }
    }
  }

  &.is-active {
    background: var(--_c-white);
  }

  &:hover {
    .sf-radio__checkmark {
      border: 3px solid var(--_c-green-primary);
    }
  }

  @include for-desktop {
    .sf-radio__container {
      padding: 0.438rem;
      transition: background-color 0.25s cubic-bezier(1, 0.5, 0.8, 1);

      &__label {
        display: flex;
        font-weight: var(--font-weight--normal);
        font-size: var(--font-size--base);
        font-family: var(--font-family--primary);
        line-height: normal;
        color: var(--c-text);
      }

      &__checkmark {
        box-sizing: border-box;
        width: 1.5rem;
        height: 1.5rem;
        border: solid var(--c-gray-variant);
        border-width: 1px;
        border-radius: 100%;
        transition: border 0.25s cubic-bezier(1, 0.5, 0.8, 1);

        &.is-active {
          border-width: 9px;
          border-color: var(--c-primary);
        }
      }

      &:hover {
        .sf-radio__checkmark {
          border-color: var(--c-black);
        }
      }

      input {
        position: absolute;
        opacity: 0;
        left: -1000%;
        width: 1px;
        height: 1px;

        &:focus + .sf-radio__checkmark {
          outline-color: -webkit-focus-ring-color;
          outline-style: auto;
        }

        &[style*="outline: none"]:focus + .sf-radio__checkmark {
          outline: none;
        }
      }

      &__container {
        position: relative;
        display: flex;
        align-items: normal;
        flex: 1;
        padding: var(--spacer-sm) var(--spacer-lg) var(--spacer-sm) var(--spacer-sm);
        cursor: pointer;
      }

      &__content {
        flex: 1;
        margin: 0 0 0 var(--spacer-sm);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
      }

      &__details {
        margin: var(--spacer-xs) 0 0 0;
        color: var(--c-text-muted);
        font-weight: var(--font-weight--light);
        font-size: var(--font-size--sm);
        font-family: var(--font-family--primary);
        line-height: 0.875rem;
      }

      &__storeHoursLabel {
        font-size: var(--font-size--sm);
        font-weight: var(--font-weight--semibold);
      }
    }
  }
  @include for-desktop {
    .sf-radio__container {
      padding: 0.438rem;
    }
  }
}
