.sf-radio {
  display: flex;
  transition: none;
  border: none;
  &__label {
    font-weight: var(--font-weight--medium);
    font-size: var(--font-size--xs);
    font-family: var(--font-family--primary);
    line-height: 0.875rem;
    color: var(--_c-dark-primary);
  }
  &__checkmark {
    box-sizing: border-box;
    width: 0.875rem;
    height: 0.875rem;
    border: 1px solid var(--_c-gray-middle);
    border-radius: 100%;
    transition: none;
    &.is-active {
      border: 3px solid var(--_c-green-primary);
    }
    @include for-desktop {
      &active,
      &--active {
        background-color: var(--_c-white);
        color: var(--c-white);
        border-width: 3px;
      }
    }
  }
  &.is-active {
    background: var(--_c-white);
  }
  &:hover {
    .sf-radio__checkmark {
      border: 3px solid var(--_c-green-primary);
    }
  }

  @include for-desktop {
    .sf-radio__container {
      padding: 0.438rem;
    }
  }
}
