.sf-select {
  &__label {
    height: 0.9rem;

    --select-label-color: var(--_c-gray-primary);

    @include font(
      --select-label-font,
      var(--font-weight--normal),
      var(--font-size--xs),
      1,
      var(--font-family--primary)
    );
  }

  &__dropdown {
    @include border(--select-dropdown-border, 1px, solid, var(--_c-gray-middle));

    border-radius: var(--spacer-2xs);
    height: calc(var(--spacer-lg) + 0.125rem);
    text-indent: 10px;
    width: 100%;
  }
}
