.sf-select {
  &__label {
    height: 0.9rem;

    --select-label-top: 0;
    --select-label-color: var(--_c-gray-primary);

    @include font(
      --select-label-font,
      var(--font-weight--normal),
      var(--font-size--xs),
      1,
      var(--font-family--primary)
    );
    @include for-desktop {
      padding-left: var(--spacer-base);
    }
  }

  &__dropdown {
    text-indent: var(--select-dropdown-text-indent, 1px);
    border-radius: var(--spacer-2xs);
    height: calc(var(--spacer-lg) + 0.125rem);
    border: 1px solid var(--_c-gray-middle);
  }
}
