.sf-search-bar {
  &__button {
    position: absolute;
    bottom: 0;
    left: var(--spacer-2xs);
  }
  &__icon {
    --icon-size: var(--spacer-sm);

    display: var(--search-bar-icon-display, block);
  }
  &__input {
    border-radius: var(--spacer-2xs);
    padding-left: var(--spacer-base);

    @include font(
      --search-bar-font,
      var(--font-weight--normal),
      var(--font-size--base),
      1.6,
      var(--font-family--primary)
    );
    @include border(--search-bar-border, 1px, solid, var(--_c-gray-middle));
    &:focus {
      --search-bar-border-color: var(--_c-green-primary);
    }
  }
}
