@include for-desktop {
  .sf-mega-menu {
    box-shadow: 0 calc(var(--spacer-xs) * 0.25) var(--spacer-2xs) 0 var(--_c-gray-shadow);

    &__menu {
      justify-content: flex-start;
    }

    &__content {
      z-index: 1;
      position: relative;
      padding: 0;
      max-width: 81.75rem;
      margin: 0 auto;
    }
  }

  .sf-mega-menu-column {
    flex: none;
    padding: 0 3.5%;
    margin:0;

    .sf-mega-menu-column__header.sf-menu-item {
      .sf-menu-item__label {
        font-size: var(--font-size--lg);
      }
    }

    &__header {
      --button-height: calc(var(--spacer-xl) * 1.45);

      border-bottom: var(--spacer-2xs) var(--c-white) solid;
      text-transform: capitalize;
      margin: calc(var(--spacer-base) * 0.5) 0 var(--spacer-2xs) 0;
    }

    &__content {
      display: none;
      position: absolute;
      top: auto;
      align-items: center;
      padding: 0 2%;
      background-color: var(--c-white);
      box-shadow: 0 calc(var(--spacer-xs) * 0.25) var(--spacer-2xs) 0 var(--_c-gray-shadow);
      width: 92vw;
      left: calc(var(--spacer-base) * 0.83);
      transform: none;

      .sf-list {
        &__item {
          margin: var(--spacer-xs) 0;
        }
      }

      .sb-mega-menu {
        &__banners {
          max-width: var(--spacer-4xl);
          margin: calc(var(--spacer-base) * 0.83) calc(var(--spacer-base) * 0.83) auto;
          flex-grow: 1;
        }
      }
    }
  }

  .sf-mega-menu-column:hover {
    .sf-mega-menu-column {
      &__header {
        border-bottom: var(--spacer-2xs) var(--_c-green-primary) solid;
      }

      &__content {
        display: block;
      }
    }
  }
}
